:root{
    --primary-border-color: #444c56;
    --primary-background-color:#22272e;
    --primary-text-color: #adbac7;
}

body{
    /* background-color: #1a1a2e; */
    background-color: var(--primary-background-color);
    overflow: hidden;
}
.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
    z-index: -1;
}
.whoami{
    width: 80%;
    margin: 0 auto;

}
.name{
    border: 1px solid var(--primary-border-color);
    backdrop-filter: blur(6px);
}
h1{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--primary-text-color);
    text-align: center;
    text-transform: capitalize;
    padding: 30px 10px;
    
}
p{
    font-size: 24px;
    color: var(--primary-text-color);
    text-align: center;
}